body {
  background-image: url('../images/birthday-photo.jpg');
  background-size: cover; /* 让图片覆盖整个背景 */
  background-position: center; /* 让图片居中显示 */
  background-repeat: no-repeat; /* 防止图片重复 */
  background-attachment: fixed; /* 当页面滚动时背景图片固定 */
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  font-size: large;
}

h1 {
  color: #f922a3f6;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #f922a3bb;
  color: white;
  border: none;
  cursor: pointer;
}

/* 爱心动态效果样式 */
#hearts {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heart {
  position: absolute;
  font-size: 30px;
  animation: fall 5s linear infinite;
}

.messages-container,
.reasons-container {
  background-color: #ffc0cb;
  border: 2px solid #ff3366;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}

p,
h1,
button,
.messages-container,
.reasons-container {
  position: relative;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* @keyframes: 定义一个名为 fall 的动画，它描述了在不同时刻，CSS 属性如何变化。
0%: 动画开始时（相当于动画的起点），元素的 top 属性设置为 -50px，
这意味着元素从页面上方的 50 像素外部开始（看不见的部分）。
100%: 动画结束时（相当于动画的终点），元素的 top 属性设置为 100vh。
vh 代表视窗高度的百分比，因此 100vh 意味着元素到达页面底部之外（视窗高度的 100% ）。 */

@keyframes fall {
  0% {
    top: -50px;
  }
  100% {
    top: 100vh;
  }
}
